main {
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    font-size: 18px;
}

h2 {
    text-decoration: underline;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #c8c8c8;
    opacity: 1;
    background-color: initial;
}

/* @TODO: Implement dark theme. */
/* main {
    background-color: #222;
    color: white;
}

.list-group-item {
    background-color: #222;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.text-secondary {
    color: silver;
}

.text-success {
    color: #66d766;
}

.text-danger {
    color: #ff4646;;
} */