@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p9tak');
  src:  url('fonts/icomoon.eot?p9tak#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p9tak') format('truetype'),
    url('fonts/icomoon.woff?p9tak') format('woff'),
    url('fonts/icomoon.svg?p9tak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-job-wvr:before {
  content: "\e908";
}
.icon-job-ltw:before {
  content: "\e909";
}
.icon-job-gsm:before {
  content: "\e90a";
}
.icon-job-cul:before {
  content: "\e90b";
}
.icon-job-crp:before {
  content: "\e90c";
}
.icon-job-bsm:before {
  content: "\e90d";
}
.icon-job-arm:before {
  content: "\e90e";
}
.icon-job-alc:before {
  content: "\e90f";
}
.icon-job-min:before {
  content: "\e910";
}
.icon-job-fsh:before {
  content: "\e911";
}
.icon-job-btn:before {
  content: "\e912";
}
.icon-job-smn:before {
  content: "\e913";
}
.icon-job-rdm:before {
  content: "\e914";
}
.icon-job-blu:before {
  content: "\e915";
}
.icon-job-blm:before {
  content: "\e916";
}
.icon-job-sam:before {
  content: "\e917";
}
.icon-job-nin:before {
  content: "\e918";
}
.icon-job-mnk:before {
  content: "\e919";
}
.icon-job-drg:before {
  content: "\e91a";
}
.icon-job-dnc:before {
  content: "\e91b";
}
.icon-job-mch:before {
  content: "\e91c";
}
.icon-job-brd:before {
  content: "\e91d";
}
.icon-job-whm:before {
  content: "\e902";
}
.icon-job-sch:before {
  content: "\e903";
}
.icon-job-ast:before {
  content: "\e904";
}
.icon-job-war:before {
  content: "\e905";
}
.icon-job-pld:before {
  content: "\e906";
}
.icon-job-gnb:before {
  content: "\e907";
}
.icon-job-drk:before {
  content: "\e900";
}
.icon-marker-msq:before {
  content: "\e901";
}
