name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
    paths:
      - frontend/**
jobs:
  gh-pages-deploy:
    name: Deploying to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Install packages
        run: |
          cd frontend
          npm install
          cd ..

      - name: Generate build number and date
        run: |
          APP_BUILD_NUM=$GITHUB_RUN_NUMBER.$GITHUB_SHA
          APP_BUILD_DATE=`date`
          cat << EOF > frontend/.env.production
            VUE_APP_BUILD_NUM=$APP_BUILD_NUM
            VUE_APP_BUILD_DATE=$APP_BUILD_DATE
            VUE_APP_BACKEND_API_URI=https://api.xivtodo.com
            VUE_APP_DISCORD_CLIENT_ID=933567168912719923
            VUE_APP_DISCORD_REDIRECT_URI=https://xivtodo.com/auth&prompt=consent
            VUE_APP_DISCORD_AUTH_URI=https://discord.com/api/oauth2/authorize
          EOF

      - name: Deploy to gh-pages
        run: |
          git checkout --orphan gh-pages-test
          cd frontend
          npm run build
          cd ..
          git --work-tree frontend/dist add --all
          git --work-tree frontend/dist commit -m "Automated dist build"
          git push origin HEAD:gh-pages --force
