name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  gh-pages-deploy:
    name: Deploying to GitHub Pages
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Setup Node
          uses: actions/setup-node@v2
          with:
            node-version: '12'

        - name: Setup git config
          run: |
            git config user.name "GitHub Actions Bot"
            git config user.email "<>"

        - name: Install packages
          run: |
            npm install

        - name: Generate build number and date
          run: |
            APP_BUILD_NUM=$GITHUB_RUN_NUMBER.$GITHUB_SHA
            APP_BUILD_DATE=`date`
            echo "VUE_APP_BUILD_NUM=$APP_BUILD_NUM" > .env.production
            echo "VUE_APP_BUILD_DATE=$APP_BUILD_DATE" >> .env.production
            echo "VUE_APP_BACKEND_API_URI=https://api.xivtodo.com" >> .env.production
            echo "VUE_APP_DISCORD_REDIRECT_URI=https%3A%2F%2Fxivtodo.com%2Fauth" >> .env.production

        - name: Deploy to gh-pages
          run: |
            git checkout --orphan gh-pages
            npm run build
            git --work-tree dist add --all
            git --work-tree dist commit -m "Automated dist build"
            git push origin HEAD:gh-pages --force
